services:
  frontend:
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.pro.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
  backend:
    restart: unless-stopped
    ports: []
    expose:
      - "8000"

  keycloak:
    ports: []
    expose:
      - "8080"
    depends_on:
      - keycloak-db
